/* Colors & Fonts*/
/*
Navy: #3A5683;
Gold: #D5A021;
Silver: #A5A5A5;
Dark Grey: #5B5B5B;
*/
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", sans-serif;
}
/***********************Semantic Layout***********************************/

#topMenu {
  background: #fff;
  font-size: 1.2rem;
}
#footSegment {
 background: #3A5683;
 margin: 0 0 0 0;
 padding: 5em 0em;
 border: none;
}
#homeHeader {
  background: url('https://cdn.shopify.com/s/files/1/1790/3573/products/DSC_3656-small_1666x.jpg?v=1492893038');
  background-size: cover;
  margin-top: 2.5em;
  margin-right: 0!important;
  margin-left: 0!important;
  padding-bottom: 2em;
}
#prodHeaderImg {
  margin-top: 2.5em;
  margin-right: 0!important;
  margin-left: 0!important;
  padding-bottom: 5em;
}
.ui.segment {
  padding: 0;
}
#topWrapper{
  padding: 0;
}
#imgHeader {
  font-family: "Avenir Next";
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0, 0, 0, .3);
  color: #fff;
  padding-top: 3rem;
}
#segmentHeaders, #allProducts {
  margin-top: 2rem;
}
.ui.button {
  background: #D5A021;
  color: #fff;
}
#soonButton {
  margin: 3rem 0
}
.bannerAd {
  background: #3A5683;
  margin: 0;
  padding: 1.3rem;

}
#whiteHeader {
  color: #fff;
  text-align: center;
  font-weight: lighter;
  font-size: 1.2rem;
}
#fullwidth-banner {
  margin-left: 0!important;
  margin-right: 0!important;
  width: 100%;
}
.ui.segment {
  border: none;
  margin: 0;
}
.ui.card>.image {
  height: 200px;
  margin: 1.5rem;
}
.ui.card {
  height: 350px;
  margin-top: 2rem;
  text-align: center;
}
#prodHeaderImg {
  background: url('https://cdn.shopify.com/s/files/1/1790/3573/products/DSC_3619-small_1666x.jpg?v=1492725457');
  background-size: cover;
}
/*BaseLayout - Header and Footer */
.mainHead {
  color: #ffffff;
  background: #3A5683;
  height: 6vh;
  display: flex;
  align-items: center;
  font-family: "Avenir Next"
}
ul{
  list-style: none;
}
.mainNav {
  display: flex;
  justify-content: center;
}
.mainNav li{
  margin: 0 2%;
}
.mainNavLink {
  text-decoration: none;
}
.mainNavLink:visited {
  color: #ffffff;
}
.mainNavLink:hover, .mainNav:active{
  color: #D5A021;
}
/*footer {
  background: #A5A5A5;
  height: 10vh;
  color: #ffffff;
  display:flex;
  flex-flow: row nowrap;
}*/
.footLeft {
  background:#3A5683;
  flex-basis: 30%;
}
.footRight{
  flex-basis: 70%;
}

/*Home Page Layout*/

.homeHeader, .fullwidth-img {
  height: 40vh;
}
.fullwidth-img {
  color: #ffffff;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  font-size: 14vw;
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}
.tagLine {
  padding: 2% 0;
  width: 100%;
}
.tlineHead {
  margin-left: 10%;
}
.tlineSub {
  font-size: 10vw;
  margin: 2% 0 0 25%;
}
.shopNow-bttn {
  background: #D5A021;
  margin-top: 3%;
  margin-bottom: 3%;
}
.shopNow-bttn, .shopNow-bttn a{
  color:#FCFFF7;
}
.bttn{
  border-radius: 4px;
  padding: 1% 5%;
  font-size: 3vh;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}
.prodWrapper {
  margin: 3% 0 10% 0;
  display: flex;
  flex-flow: column wrap;
}
a{
  text-decoration: none;
  color: #5B5B5B;
}
/*.prodCard{
  width: 70%;
  margin-top: 7%;
}*/
.prodInfo{
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  margin: 5% 0;
}
.prodImg {
  width:100%;
  margin-bottom: 3%;
}

/* Product Page Layout*/

.productsPageWrapper {
  display: flex;
  flex-flow: column wrap;
}
.catLinks{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.catLinks li{
  flex-basis: 25%;
}


@media (min-width: 500px) {
  /*BaseLayout Header and Footer*/
  .mainHead {
    height: 8vh;
  }
  .navWrapper{
    width: 100%;
  }
  .mainNav{
    justify-content: flex-start;
  }
  .mainNav li{
    font-size: 3vh;
    margin: 0 5%;
  }
  footer {
    height: 25vh;
    font-size: 3vh;
  }
  .footLeft {
    flex-basis: 30%;
  }
  .footRight{
    flex-basis: 70%;
  }

  /*Home Page Layout*/
  .homeHeader, .fullwidth-img {
    height: 50vh;
  }
  .prodWrapper {
    flex-flow: row wrap;
  }
  .prodCard{
    flex-basis: 45%;
    margin-top: 7%;
  }
  .prodName {
    font-size: 2.5vh;
  }
}
@media (min-width: 700px) {
  .fullwidth-img {
    justify-content: flex-end;
    font-size: 12vw;
  }
  .tagLine {
    padding: 0;
    width: 100%;
  }
  .tlineSub {
    font-size: 10vw;
    margin: 0 0 0 30%;
  }
}
@media (min-width: 850px) {
  .mainNav li{
    font-size: 3vh;
    margin: 0 3vw;
  }
  .homeHeader, .fullwidth-img {
    height: 60vh;
  }
  .fullwidth-img {
    font-size: 15vh;
  }
  .tlineSub {
    font-size: 12vh;
  }
  .prodCard{
    flex-basis: 30%;
    margin-top: 7%;
  }
}
@media (min-width: 1000px) {

}
