* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next", sans-serif;
}
.mainHead {
  color: #ffffff;
  background: #3A5683;
  height: 6vh;
  display: flex;
  align-items: center;
  font-family: "Avenir Next"
}
ul{
  list-style: none;
}
.navWrapper {
}
.mainNav {
  display: flex;
}
.mainNav li{
  margin: 0;
}
.mainNavLink {
  text-decoration: none;
}
.mainNavLink:visited {
  color: #ffffff;
}
.mainNavLink:hover, .mainNav:active{
  color: #D5A021;
}
.fullwidth-img {
  height: 33.4vh;
}
footer {
  background: #A5A5A5;
  height: 10vh;
  color: #ffffff;
  display:flex;
  flex-flow: row nowrap;
}
.footLeft {
  background:#3A5683;
  flex-basis: 20%;
}
.footRight{
  flex-basis: 80%;
}
